<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.song.shop.mapper.UserMapper">
	
	<!-- BASIC COLUMN -->
	<sql id="column-basic">
		user_id, user_nm, password, email, auth_level, phone_num, zip_code, address, detail_address, regist_dt
	</sql>

	<!-- INSERT -->
	
	
	<!-- SELECT -->
	
	<select id="selectUserById" parameterType="String" resultType="com.song.shop.dto.UserDto">
		SELECT 
			<include refid="column-basic" />
		FROM 
			"user"
		WHERE 
			user_id = #{user_id}
	</select>

	<!-- UPDATE -->
	
	<!-- DELETE -->	
</mapper>